*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

.header img{
    width: 170px;
    float: left;
}

.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
}

.header h1{
    padding-top: 260px;
    padding-bottom: 0;
    font-size: 55px;
}

.header p{
    margin: 18px 0;
}

.input-group{
    margin: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;

}

.form-control{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}

.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e, #1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px !important;
    box-shadow: none !important;
    border-radius: 30px !important;
}

.features{
    padding: 100px 0;

}
h1{
    text-align: center;

    padding-bottom: 30px;    
}

.feature-img img{
    width: 100%;
    
}
.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 6000;
    border-radius: 50%;
    padding: 10px ;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}

.feature-img{
    position: relative;
}

.rating{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}

.features .fa{
    font-size: 15px;
    color: #ff5722;

}

.features-details{
    padding: 20px;
    text-align: justify;
}

.features-details h4{
    font-weight: 600;
    margin-top: 20px;
}

.features-details .fa{
    margin-right: 5px;

}

.feature-box{
    box-shadow:  0 0 10px 1px rgba(37, 73, 214, 0.18);
    margin-bottom: 30px;
}

.gallery{
    padding: 100px 0;
    background: #efefef;
}


.gallery-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.gallery-box img:hover{
    transform: scale(1.1);
}

.gallery-box h4{
    width: 200px;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
}

.gallery-box{
    position: relative;
    margin-bottom: 30px;
}